<header class="header">
    <div class="container header__row">
        <div class="header__logo">
            <a href="/">
                <img src="/img/icons/logo.svg" alt="logo">
            </a>
        </div>
        <nav class="header__menu-wrapper">
            <ul class="header__menu">
                <li><a class="header__menu-item link-no-underline" href="#">Заказчикам</a></li>
                <li><a class="header__menu-item link-no-underline" href="#">Фрилансерам</a></li>
                <li><a class="header__menu-item link-no-underline" href="#">Вакансии</a></li>
            </ul>
        </nav>
        <div class="header__actions">
            <a href="#" class="inline-block link-no-underline">Вход</a>
            <a href="#" class="btn btn-blue">
                Регистрация
            </a>
        </div>
    </div>
</header>