<header class="header">
    <div class="container header__row">
        <div class="header__burger burger menu-trigger w-5">
            <img src="img/icons/burger.svg" width="18" height="12" alt="burger" class="trigger">
            <img src="img/icons/cross.svg" width="14" height="14" alt="close" class="close">
        </div>
        <div class="header__logo">
            <a href="/">
                <img src="img/icons/logo.svg" width="209" height="40" alt="logo">
            </a>
        </div>
        <nav class="header__menu-wrapper">
            <ul class="header__menu">
                <li><a class="header__menu-item link-no-underline" href="#orders" data-popup="orders">Заказчикам</a>
                </li>
                <li><a class="header__menu-item link-no-underline" href="#freelancers"
                        data-popup="freelancers">Фрилансерам</a></li>
                <li><a class="header__menu-item link-no-underline" href="#vacancies" data-popup="vacancies">Вакансии</a>
                </li>
            </ul>
            {{> partials/header-menus}}
        </nav>
        <div class="header__actions">
            <a href="#" class="inline-block link-no-underline">Вход</a>
            <a href="#" class="btn btn-blue">
                Регистрация
            </a>
        </div>
        <div class="header__account header-account menu-trigger w-5">
            <img src="img/icons/user.svg" width="20" height="20" alt="account" class="trigger">
            <img src="img/icons/cross.svg" width="14" height="14" alt="close" class="close transform translate-x-1">
        </div>
    </div>
</header>
<div class="header-menu-overlay overlay"></div>
