<section class="info section-offset">
    <div class="container">
        <div class="section-title">
            <h2>Что такое фриланс и кому нужны фрилансеры?</h2>
        </div>
        <div class="info__description">
            Слышали о слове <b>фриланс</b>, но не знаете, что это значит? А может, ищите хорошего
            специалиста-фрилансера
            или сами желаете стать фрилансером, но не знаете с чего начать? Давайте разберемся в терминологии и
            рассмотрим, как оптимизировать свою деятельность в сфере фриланса.
        </div>
        <div class="info__row">
            <div class="info-col">
                <div class="info-block">
                    <h3>
                        Что такое Freelance
                        и кто такие фрилансеры?
                    </h3>
                    <div>
                        <p>
                            <b>Freelance</b> — это деятельность специалистов, связанная с предоставлением услуг
                            компаниям.
                            Оказывают их как удаленно — через интернет, так и оффлайн, если заказчик и исполнитель
                            находятся в одном городе. В отличие от штатных сотрудников, фрилансеры выполняют только
                            конкретные задачи, получая разовую выплату за свой труд.
                        </p>
                        <p>
                            <b>Фрила́нсер (англ. freelancer)</b> — свободный работник. Термин фрилансер впервые
                            употребляется Вальтером Скоттом в романе «Айвенго» для описания «средневекового наёмного
                            воина». Любой хороший специалист, обладающий прикладными знаниями и навыками, может быть
                            приглашен выполнять внештатные задания, то есть — стать фрилансером. Среди фрилансеров
                            встречаются люди самых различных профессий — от физиков, инженеров, технологов,
                            журналистов, до копирайтеров, дизайнеров, программистов. Иметь именно IT-специализацию
                            необязательно — можно выполнять несложные виды работ: размещать объявления, писать
                            комментарии на форумах или заполнять карточки товаров
                            в интернет-магазинах.
                        </p>
                    </div>
                </div>
                <div class="info-block">
                    <h3>
                        Как выбрать фриланс-биржу
                        для работы или поиска исполнителя?
                    </h3>
                    <div>
                        <div class="p">
                            Специализированные онлайн-сервисы можно разделить на два типа — узкоспециализированные
                            площадки и сайты широкой направленности. Чем шире спектр услуг, тем больше собирается на
                            нем
                            исполнителей, соответственно, больше заказчиков. Поэтому при выборе площадки нужно
                            обращать
                            внимание на такие параметры:
                            <ol>
                                <li><b>Трафик</b> — соотношение количества заказчиков, проектов и специалистов.</li>
                                <li><b>Условия работы</b> — доступность услуг и комиссионные сборы.</li>
                                <li>Наличие безопасной сделки и комиссию на услугу.</li>
                                <li><b>Платежеспособность заказчиков</b> — ваших потенциальных клиентов.</li>
                                <li><b>Интерфейс биржи</b> — насколько вам удобно ориентироваться, находиться на
                                    сервисе.</li>
                            </ol>
                        </div>

                        <div class="p">
                            <b>Для проверки уровня сервиса:</b>

                            <ul>
                                <li> ознакомьтесь с распорядком IT-площадки — прочтите правила;</li>
                                <li>
                                    посмотрите, есть ли дополнительные материалы для ознакомления с новостями и
                                    работой
                                    фриланс-сервиса — форум, база знаний, блог, паблики в социальных сетях;
                                </li>
                                <li>
                                    ознакомьтесь со статистикой цен, посмотрите бюджеты проектов, насколько сложные
                                    задачи
                                    ставятся перед исполнителями;
                                </li>
                                <li>
                                    проверьте, быстро ли вы находите нужную информацию, комфортно ли глазам после
                                    второго,
                                    третьего или восьмого часа работы;
                                </li>
                                <li> напишите в онлайн-поддержку и проверьте, насколько хорошо работает обратная
                                    связь.
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-col">
                <div class="info-block">
                    <h3>
                        Почему сервис Freelancehunt — лучший сайт для фрилансеров
                        и заказчиков?
                    </h3>
                    <div>
                        На сегодняшний день <b>Freelancehunt</b> является ведущим сервисом в Украине и занимает
                        высокие
                        позиции в России, Казахстане, Беларуси. Около 70% пользователей сервиса живут и работают в
                        Украине. Остальные присоединяются к нам из СНГ и других стран со всего мира.
                    </div>
                </div>
                <div class="info-block">
                    <h3>
                        10 причин выбрать Freelancehunt:
                    </h3>
                    <div>
                        <div class="p">
                            <ol>
                                <li>
                                    <b> Динамичный рост компании IT</b> — постоянный приток заказчиков и
                                    исполнителей.
                                    Количество
                                    первых
                                    за
                                    последние 3 года увеличился в два раза, вторых — в три. Ежедневно на сервисе
                                    публикуется
                                    сотни
                                    проектов и их число растет каждый месяц.
                                </li>
                                <li>
                                    <b>Легкий и бесплатный старт </b> — каждый участник может начать работу онлайн и
                                    без
                                    вложений.
                                    Заказчикам не нужно платить за публикацию проектов, а фрилансерам — покупать
                                    доступ
                                    к
                                    заданиям. Платные услуги не обязательны, но повышают комфорт работы на сервисе в
                                    несколько раз.
                                </li>

                                <li>
                                    <b> У нас есть три вида сотрудничества:</b> напрямую онлайн, через Сейф или
                                    Бизнес
                                    Сейф.
                                </li>
                                <li>
                                    <b>Сервис Сейф</b> — гарантия безопасной сделки и арбитраж к вашим услугам.
                                    Комиссию
                                    —
                                    9%, 5%
                                    или 0%, вы выбираете сами.
                                </li>
                                <li>
                                    <b> Бизнес Сейф</b> — уникальная услуга для работы между фрилансерами и
                                    юридическими
                                    лицами в интернет с предоставлением закрывающих документов.
                                </li>
                                <li>
                                    <b>Конкурсы</b> — возможность для заказчиков выбрать готовый вариант из десятков
                                    представленных.
                                    Для
                                    фрилансеров — попробовать свои силы, проявить себя и получить гонорар за свой
                                    труд в
                                    случае
                                    победы.
                                </li>
                                <li>
                                    <b>Вакансии</b> — на нашем сервисе вы можете не только искать разовых
                                    подрядчиков,
                                    но и
                                    находить
                                    сотрудников в штат.
                                </li>
                                <li>
                                    <b>Бонусная программа.</b> Зарабатывать на сервисе можно не только в проектах
                                    или
                                    участвуя в
                                    конкурсах,
                                    но также приглашая других пользователей на сервис.
                                </li>
                                <li>
                                    На сервисе регулярно проводятся акции и соревнования для пользователей,
                                    позволяющие
                                    получать
                                    ценные призы или промокоды на платные услуги.
                                </li>
                                <li>
                                    <b> На Freelancehunt есть три локализации</b> — на украинском, русском и
                                    английском,
                                    что
                                    позволяет
                                    изучать информацию на родном языке.
                                </li>
                                <li>
                                    <b> Обратная связь.</b> Все пользователи могут вносить пожелания для улучшения
                                    работы
                                    сервиса на
                                    форуме
                                    идей и предложений. Если они набирают определенное количество голосов, мы
                                    внедряем
                                    эти
                                    предложения! Информация обо всех нововведениях площадки и новости в мире IT
                                    освещаются в
                                    социальных сетях и блоге.
                                </li>

                            </ol>
                        </div>
                        <b>
                            А еще говорят — у нас самая быстрая и душевная поддержка.
                            Не верите? <a href="#" class="link text-blue">Проверьте!</a>
                        </b>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-table-block">
            <h3>
                Где можно найти фрилансера?
            </h3>
            <div class="info-table-block__description">
                Ищут фрилансеров по-разному: через знакомых, соцсети, блоги, фриланс-биржи. Наиболее быстрый,
                удобный и безопасный способ — поиск исполнителя через специализированные сервисы онлайн.
            </div>
            <div class="info-table-wrapper">
                <table class="info-table">
                    <thead>
                        <tr>
                            {{#each info.table.head}}
                            <th>
                                {{this}}
                            </th>
                            {{/each}}

                        </tr>
                    </thead>
                    <tbody>
                        {{#each info.table.rows}}
                        <tr>
                            {{#each this}}
                            <td>
                                {{this}}
                            </td>
                            {{/each}}
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="text-sm">
                <div class="mb-5">
                    Для самих исполнителей этот способ (поиск через биржу) также является одним из лучших — он
                    оптимален
                    для поиска клиентов, получения опыта, наработки рейтинга и портфолио. Именно на таких площадках
                    легко собрать коллекцию положительных откликов.
                </div>
                <b>
                    В результате фриланс-биржи идеально подходят как для новичков, так и для профессионалов:
                </b>
                <ul>
                    <li>
                        <b>новичкам</b> — как стартовые площадки для получения первых заданий;
                    </li>
                    <li>
                        <b>профессионалам</b> — для подтверждения опыта.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>