<div class="menu-auth">
    <div class="menu-auth__content">
        <h3 class="menu-auth__title">
            Добро пожаловать на Freelancehunt
        </h3>
        <div class="menu-auth__description">
            Работайте без рисков на сервисе фриланса <b>№1 в Украине</b>
        </div>
    </div>
    <div class="menu-auth__actions">
        <a href="#" class="btn btn-blue-stroke">
            Вход
        </a>
        <a href="#" class="btn btn-blue">
            Регистрация
        </a>
    </div>
</div>
<div class="menu-auth-overlay overlay"></div>