<div class="menu-mob ">
    <div class="menu-mob__items">
        <div class="menu-mob__item accordion">
            <div class="menu-mob__item-header accordion-header">
                <span>Заказчикам</span>
                {{>partials/arrow_down}}
            </div>
            <div class="menu-mob-content accordion-content">
                <a href="#" class="menu-mob-content__item">
                    <div class="text-base mb-1">
                        Работайте фрилансером
                    </div>
                    <div class="text-xs text-text-subdued">
                        Выбирайте среди открытых фриланс-проектов
                    </div>
                </a>
                <a href="#" class="menu-mob-content__item">
                    <div class="text-base mb-1">
                        Работайте фрилансером
                    </div>
                    <div class="text-xs text-text-subdued">
                        Выбирайте среди открытых фриланс-проектов
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="menu-mob__actions">
        <a href="#" class="btn btn-blue-stroke">
            Вход
        </a>
        <a href="#" class="btn btn-blue">
            Регистрация
        </a>
    </div>
</div>