<div class="menu-mob ">
    <div class="menu-mob__items">
        {{#each menu.items}}
        <div class="menu-mob__item accordion">
            <div class="menu-mob__item-header accordion-header">
                <span>{{title}}</span>
                {{>partials/arrow_down}}
            </div>
            <div class="menu-mob-content accordion-content">
                <div class="menu-mob-content__inner">
                    {{#each items}}
                    <a href="#" class="menu-mob-content__item ">
                        {{#if preTitle}}
                        <div class="menu-mob-content__item-pre-title">
                            {{preTitle}}
                        </div>
                        {{/if}}
                        <div class="text-base mb-0.5">
                            {{title}}
                        </div>
                        <div class="text-xs text-text-subdued">
                            {{text}}
                        </div>
                    </a>
                    {{/each}}

                </div>
            </div>
        </div>
        {{/each}}

    </div>
    <div class="menu-mob__actions">
        <a href="#" class="btn btn-blue-stroke">
            Вход
        </a>
        <a href="#" class="btn btn-blue">
            Регистрация
        </a>
    </div>
</div>
<div class="menu-mob-overlay overlay"></div>