@import "./_partials/_fonts";
@import "./_partials/tailwind";
@import "./_partials/_common";
@import "./_partials/_button";
@import "./_partials/_header";
@import "./_partials/_footer";
@import "./_partials/_tabs";
@import "./_partials/_accordion";
@import "./_partials/_menu-auth";
@import "./_partials/_menu-mob";
@import "./_partials/_tags";
@import "./_partials/_animations";
@import "./_partials/_swiper-custom";

.hero {
  @apply pt-[3.5rem] sm:pt-[8rem] md:pt-[10rem] lg:pt-[12rem] bg-bg-400 overflow-hidden dark:bg-bg-800;
  h1 {
    @apply h1 md:text-4xl lg:h1;
  }
  &__main {
    @apply relative pb-12 flex flex-col sm:items-start md:pb-20;
  }
  &__content {
    @apply order-2 text-center sm:text-left md:order-1  md:relative md:max-w-[500px] lg:max-w-[660px] z-10;
  }
  &__description {
    @apply max-w-[280px] mx-auto sm:mx-0 md:max-w-[380px] lg:max-w-[450px] text-sm md:text-lg lg:text-2xl !font-medium text-text-subdued;
  }
  &__image {
    @apply w-full relative order-1 mb-3 
    max-w-[460px]
    mx-auto
    sm:max-w-none
    sm:w-[460px]
    md:w-[460px] 
    sm:absolute sm:mb-0 sm:order-2 sm:z-0
     sm:right-[0px]
    lg:right-[-100px] lg:top-[60px] lg:w-[756px]
    xl:right-[-156px];
  }
  &__actions {
    @apply mt-10 flex flex-col items-center space-y-4 md:space-y-0 md:flex-row md:space-x-5;
  }
  &__btn {
    @apply w-[280px] md:w-auto;
  }

  &__bg-1,
  &__bg-2 {
    @apply pointer-events-none z-0 hidden;
  }
  &__bg-1 {
    @apply absolute left-[-80px] top-[-50px] bg-white 
      w-[200px] h-[270px] rounded-2xl dark:bg-black-700 lg:block;
  }
  &__bg-2 {
    @apply absolute  bg-white 
      sm:w-[225px] sm:h-[122px] sm:right-[40px] sm:top-[-13px]
      lg:right-[-40px] lg:top-[35px]
      lg:w-[370px] lg:h-[200px] rounded-2xl xl:right-[-90px] dark:bg-black-700 sm:block;
  }
  &-clients {
    @apply flex flex-col pb-5 
        lg:flex-row lg:items-center lg:py-10 border-none lg:border-solid lg:border-t lg:border-blue-200;
    &__title {
      @apply text-xs mb-3 md:mb-5 md:text-base lg:mb-0 lg:mr-20;
    }
    .swiper-wrapper {
      @apply flex-y-center justify-between;
    }
    &__slider {
      @apply flex-1 min-w-0 w-full lg:w-auto;
    }
    &__slide {
      @apply h-4.5 xs:h-6 sm:h-6 md:h-7 lg:h-[1.70rem] w-auto !important;
      img {
        @apply h-full;
      }
    }
  }
}

.for-orders {
  &-slider {
    @apply -mx-5 sm:px-5 !important;
  }
  &-item {
    @apply flex flex-col relative min-h-[240px] shadow-main py-7 px-5 md:p-7 bg-white rounded-xl
    md:min-h-[260px];
    &__content {
      @apply max-w-[350px] flex-1 flex flex-col items-start relative z-10 h-full;
    }
    &__title {
      @apply leading-tight font-bold text-lg md:text-2xl mb-2.5;
      span {
        @apply text-blue whitespace-nowrap;
      }
    }
    &__description {
      @apply p2 md:text-base md:max-w-[280px] lg:max-w-none;
    }
    &__btn {
      @apply mt-auto w-full xs:w-auto;
    }

    &__image {
      @apply absolute right-3 bottom-5 z-0 hidden md:block md:right-2;
      img {
        @apply h-[162px] w-auto;
      }
    }
    &:nth-child(2) &{
      &__image {
        img {
          @apply w-[122px] h-auto;
        }
      }
    }
  }
}

.numbers {
  &-slider {
    @apply -mx-5 lg:px-5 !important;
  }
  .swiper-wrapper {
    @apply items-stretch;
  }
  &-item {
    @apply flex flex-col items-stretch w-[260px] min-h-[320px] h-auto p-5 rounded-xl shadow-main bg-white;
    &__num {
      @apply text-3xl leading-8 font-bold text-blue;
    }
    &__title {
      @apply text-lg pb-2.5 border-b border-b-blue-200 mb-2.5 leading-4 mt-1.5;
    }
    &__value {
      @apply text-green font-bold text-lg;
    }
    &__value-title {
      @apply text-sm leading-4 max-w-[170px];
    }
    &__chart {
      @apply my-1.5;
      img {
        @apply w-full;
      }
      &-tooltip {
        @apply flex justify-between mt-2 font-bold text-xs text-text-disabled leading-3;
      }
    }
    &__stat {
      @apply pt-5 mt-auto text-lg;
    }
  }
}

.freelancers {
  @apply overflow-hidden;
  &-items {
    @apply flex items-start;
  }
  &-tabs {
    &__content {
      @apply md:max-w-[478px] md:ml-auto lg:ml-0 lg:max-w-none;
    }
  }
  &-item {
    &-main {
      @apply flex-1 md:flex-none md:w-[260px] flex-shrink-0 block shadow-main rounded-xl overflow-hidden mr-5 lg:mr-6;
      &__content {
        @apply hidden md:block py-7 px-5 bg-white;
      }
      &__name {
        @apply p1 font-bold;
      }
      &__image {
        @apply pb-[100%] md:pb-0 relative;

        img {
          @apply h-full md:h-[225px] w-full object-cover absolute inset-0 md:relative filter hover:brightness-75 transition-all  rounded-tr-xl rounded-tl-xl;
        }
      }
      &__category {
        @apply p3 text-text-subdued mt-1;
      }
      &__stat {
        @apply flex justify-between mt-5;
      }
      &__reviews {
        @apply font-bold text-green text-sm;
      }
      &__rate {
        @apply flex-y-center font-bold text-sm;
        img {
          @apply mr-2;
        }
      }
    }
    &-rest {
      @apply flex-1 md:flex items-start justify-start flex-wrap md:-m-3;
      &__item {
        @apply hidden md:first:block lg:block  relative w-full lg:w-1/2 md:p-3;

        img {
          @apply w-full h-full object-cover rounded-xl shadow-main filter hover:brightness-75 transition-all;
        }
      }
      &__inner {
        @apply relative pb-[100%] block;
      }
      &__content {
        @apply absolute inset-0;
      }
      &__more {
        @apply block;
      }
      &__more & {
        &__content {
          @apply border border-blue flex-center flex-col rounded-xl  text-blue text-center  
            hover:bg-blue hover:text-white transition-colors;
        }
      }
    }
  }
  .tags-block {
    @apply mt-8 md:mt-[3.125rem];
  }
}

.for-freelancers {
  &__row {
    @apply flex flex-col items-center  md:items-start md:flex-row;
  }
  &__list,
  &__actions,
  &__image {
    @apply max-w-[280px] md:max-w-none mx-auto;
  }
  &__image {
    @apply mb-3 md:mb-0 md:max-w-none md:w-[356px] md:mr-4 md:mt-8 md:ml-10 lg:ml-4 lg:mt-2 lg:w-[450px] lg:mr-12;
  }
  &__content {
    @apply flex-1;
  }
  &__list {
    @apply md:h3 !font-medium text-sm space-y-3 md:text-2xl md:space-y-6;
    li {
      @apply flex items-start max-w-[460px];
      &::before {
        content: "";
        @apply w-[20px] mr-2.5 h-[20px] translate-y-0 md:w-[26px] md:h-[26px] md:mr-5 md:translate-y-0.5 bg-center bg-contain  flex-shrink-0 transform;
        background-image: url(../img/icons/checkbox_blue.svg);
      }
    }
  }
  &__actions {
    @apply mt-10 flex flex-col items-center space-y-2.5 md:space-y-0 md:flex-row md:space-x-5;
    .btn {
      @apply flex-shrink-0 w-full md:w-auto;
    }
    &-text {
      @apply leading-6 text-sm text-center md:text-left;
    }
  }

  &__tooltip {
    @apply mt-5  p3 !leading-5 md:!leading-6 text-center text-text-disabled md:text-text-subdued md:text-left;
  }
}
.projects {
  @apply overflow-hidden;
  &-image {
    @apply mb-8 lg:mb-[3.125rem] pb-[45%] relative overflow-hidden rounded-xl;
    img {
      @apply absolute inset-0 h-full w-full object-cover rounded-xl transition-all duration-300  transform hover:scale-[1.2];
    }
  }
}

.vacancies {
  &__row {
    @apply flex flex-col items-center  md:items-start md:flex-row;
  }
  &__text {
    @apply h3 !font-medium;
  }
  &__actions,
  &__image {
    @apply max-w-[280px] md:max-w-none mx-auto;
  }
  &__image {
    @apply mb-3 md:mb-0 md:max-w-none md:w-[350px] lg:w-[428px] md:mr-14;
  }
  &__content {
    @apply flex-1;
  }

  &__actions {
    @apply mt-10 flex flex-col items-center space-y-2.5 md:space-y-0 md:flex-row md:space-x-5;
    .btn {
      @apply flex-shrink-0 w-full md:w-auto;
    }
    &-text {
      @apply leading-6 text-sm text-center md:text-left;
    }
  }
  &__tags {
    @apply mt-[4.375rem];
  }
  .tags-block {
    &__title {
      @apply text-2xl md:text-lg;
    }
  }
}

.info {
  &__description {
    @apply text-sm mb-[3.125rem];
  }
  &__row {
    @apply flex flex-col items-center md:items-start md:flex-row md:space-x-[6rem];
  }
  &-col {
    @apply flex-1;
  }
  h3 {
    @apply border-b-2 border-blue pb-2 mb-7;
  }
  p,
  .p {
    @apply mb-6 last:mb-0;
  }
  ul {
    @apply pl-1.5;
    li {
      @apply list-none pl-3 relative;
      &::before {
        content: "";
        @apply absolute left-0 top-2.5 block w-[3px] h-[3px] bg-black rounded-full;
      }
    }
  }
  ol {
    @apply pl-4;
    li {
      @apply list-decimal;
    }
  }
  &-block {
    @apply mb-[3.125rem] text-sm;
  }
  &-table-block {
    &__description {
      @apply mb-7 text-sm;
    }
  }
  &-table-wrapper {
    @apply overflow-auto pb-5 mb-5 md:mb-0 -mr-5;
    &__inner {
      @apply pr-5 w-[900px] md:w-full;
    }
  }
  &-table {
    @apply rounded-lg border border-black text-sm p-0 text-left w-full;
    border-collapse: separate;
    border-spacing: 0;
    th {
      @apply font-bold;
    }
    th,
    td {
      @apply py-4 px-5 border-b border-black border-r last:border-r-0;
    }
    td {
      @apply py-2.5;
    }

    tr {
      &:last-child {
        td {
          @apply border-b-0;
        }
      }
      > td {
        @apply first:font-bold;
      }
    }
  }
}
