body {
  @apply font-main font-medium p2 text-text leading-[1.2] bg-bg-200 dark:text-white dark:bg-bg-800;
}
h1 {
  @apply h1;
}
h2 {
  @apply h2;
}
h3 {
  @apply h3;
}
.no-scroll {
  @apply !overflow-hidden;
}
.container {
  @apply max-w-[1160px] mx-auto px-5;
}

.link {
  @apply no-underline hover:underline;
}

.link-no-underline {
  @apply no-underline hover:text-blue transition-colors;
}
.link-underline {
  @apply underline hover:text-blue transition-colors;
}

.section-offset {
  @apply pt-20 lg:pt-[130px];
}
.pre-title {
  @apply text-sm text-text-disabled font-normal uppercase;
  letter-spacing: 0.45rem;
}
.section-title {
  @apply text-left lg:text-center mb-7 lg:mb-[3.125rem];
  .pre-title {
    @apply mb-4 lg:mb-2.5;
  }
}

.slider-pagination {
  @apply flex-center pt-7;
  .swiper-pagination-bullet {
    @apply ml-0 mr-2.5 last:mr-0 opacity-50 bg-text-disabled hover:opacity-80 !important;
    &-active {
      @apply bg-blue opacity-100 hover:opacity-100 !important;
    }
  }
}
.menu-trigger {
  .close {
    @apply hidden;
  }
  &.open {
    .trigger {
      @apply hidden;
    }
    .close {
      @apply block;
    }
  }
}
.overlay {
  @apply fixed inset-0 bg-black  z-[99] invisible opacity-0 transition-all;
  &.open {
    @apply visible opacity-60;
  }
}
@define-mixin bg $url, $url2x {
  background-image: url($url);
  @media all and (-webkit-min-device-pixel-ratio: 1.5) {
    & {
      background-image: url($url2x);
    }
  }
}
