.categories-tabs {
  @apply flex flex-col lg:flex-row lg:items-start;
  &-categories {
    @apply lg:w-[400px] mb-5 lg:flex-shrink-0 lg:mr-[4.5rem] lg:mb-0 max-w-full relative;

    .swiper-wrapper {
      @apply lg:space-y-4 lg:flex-col;
    }
    .swiper-container {
      &::before {
        content: "";
        @apply lg:hidden block absolute right-0 w-16 h-full  z-10;
        background-image: linear-gradient(
          to right,
          transparent 0%,
          theme("colors.bg.200") 70%,
          theme("colors.bg.200") 100%
        );
      }
      &.last::before {
        @apply hidden;
      }
    }
    &__arrow {
      @apply absolute right-0 top-1 lg:hidden z-20 cursor-pointer;
      &.swiper-button-disabled {
        @apply hidden;
      }
    }
    &__item {
      @apply w-auto relative flex text-lg pb-2 text-text-subdued font-medium hover:text-blue 
      lg:text-2xl lg:w-full lg:pl-5 lg:pb-0 !important;
      &::before {
        content: "";
        @apply w-full h-0.5 bg-blue block absolute left-0 right-0 top-auto bottom-0 flex-shrink-0 opacity-0 
        lg:mr-5 lg:right-auto lg:top-0 lg:h-full lg:w-1;
      }
      &.active {
        @apply text-black !font-bold hover:text-black !important;
      }
      &.active::before {
        @apply opacity-100;
      }
    }
  }
  &-content {
    @apply flex-1;
    &-block {
      @apply hidden;
      &.active {
        @apply block;
      }
    }
  }
}
